<!doctype html>
<h1>Configure your settings!</h1>
<form method="post">

<input type="number" name="seed">
<label for="seed">Input a seed, or leave blank for a randomized seed</label>

<br><br>
<h2>Select your mode:</h2>
{% for k, v in modes.items() %}
<input type="radio" name="mode" id="{{k}}" value="{{k}}" {% if k=='normal' %} checked{% endif %}>
    <label for="{{k}}">{{k}}: {{v}}</label><br>
{% endfor %}
<br><br>

<h2>Select your flags (defaults to standard leaderboard flags):</h2>
{% for k, v in flags.items() %}
<input type="checkbox" name="{{k}}" value="{{v[0]}}" {% if k in defaults %} checked{% endif %}>
    <label for="{{k}}">{{k}}: {{v[1]}}</label><br>
{% endfor %}
<br><br>

<h2>Select your codes (defaults to standard leaderboard codes):</h2>
{% for k, v in codes.items() %}
<input type="checkbox" name="{{k}}" value="{{v[0]}}" {% if k in defaults %} checked{% endif %}>
    <label for="{{k}}">{{k}}: {% if v[1]=='' %} {{v[0]}} {% else %} {{v[1]}} {% endif %}</label><br>
{% endfor %}
 


<input type="submit">
</form>
